<!DOCTYPE html>
<html>

	<head>
		<div>
			Crypto-Steganography
		</div>
	</head>

	<body ng-app="">
		<p>
			What is Crypto-Steganography?
		</p>
		<p>
			It's a nice and secure way to storage your files secretely, in a way the data is only retrieved using a password
		</p>

		<div ng-init="a='oi'">disse <span ng-bind="a"></span></div>

		<div ng-include="'download_tmpl.html'"></div>


		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

	</body>

</html>